@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}
body{
    background-image: url("https://images.unsplash.com/photo-1468276311594-df7cb65d8df6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    margin-top: 10rem;
    color: #fff;
}

.text {
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.item {
    text-align: center;
}

.item span {
    font-size: 1.5rem;
}